<%= form_with(model: [@playlist, song], local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <%= form.hidden_field :playlist_id, value: params[:playlist_id] %> -->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!-- <div class="field">
    <%= form.label :playlist_id %>
    <%= form.select :playlist_id, options_from_collection_for_select(@playlists, :id, :name), prompt: 'selecciona la playlist' %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
