<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<h4>Canciones</h4>

<ul>
  <% @playlist.songs.each do |song| %>
    <li><%= song.title %> </li>      
  <% end %>
</ul>

<div>
  <%= link_to 'Add song' %>
</div>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
